################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CompetenciasEstrategicas/v16/Server/sqlite3/storage.ide-wal
/.vs/CompetenciasEstrategicas/v16/Server/sqlite3
